.container {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 0 40px;
  margin: 25px 0;
  height: 45%;
  @media (max-width: 700px) {
    width: 90%;
    margin: 10px 0;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  height: 30%;
  text-align: center;
}
.subtitle {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
  text-align: center;
}

.img_wrapper {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  height: fit-content;
}
.img {
  width: 100%;
  object-fit: cover;
  height: auto;
  @media (max-width: 700px) {
    height: auto;
  }
}
.waytitle {
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
  text-align: center;
}
