.test {
  position: relative;
  background: red;
  transition: all 1s;
}
.test2 {
  transition: all 3s;
  background-color: green;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(148, 187, 233, 1);
  position: relative;
  mix-blend-mode: overlay;
}
.shine {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 20%;
  right: 20%;
  border-radius: 150px;
  background-color: rgba(148, 187, 233, 1);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(181, 215, 219, 0.8352591036414566) 22%,
    rgba(148, 187, 233, 1) 35%,
    rgba(148, 187, 233, 1) 95%,
    rgba(148, 187, 233, 1) 100%
  );
  z-index: 1;
  animation: 2s shineAnim;
  mix-blend-mode: overlay;
}

@keyframes shineAnim {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
