.vacancies {
  padding: 80px 0;
  background: #fff;
  color: black;
  height: 100%;
  margin-bottom: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 42px;
  color: #c40000;
}

.subtitle {
  text-align: center;
  max-width: 600px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.card {
  background: #fff;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);

  h3 {
    font-size: 22px;
    margin-bottom: 6px;
  }

  ul {
    padding-left: 20px;
  }
}

.type {
  color: #c40000;
  font-weight: 600;
}

.text {
  margin: 16px 0;
}

.cta {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.button {
  background: #c40000;
  color: #fff;
  padding: 14px 32px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 32px;
  }
}

.ctaText {
  color: #555;
}

.offer {
  padding: 40px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);

  h2 {
    text-align: center;
    margin-bottom: 24px;
  }

  ul {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 20px;

    li {
      margin-bottom: 12px;
    }
  }
}
