.content {
  font-size: 40px;
  color: #b91125;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: 800;

  @media (max-width: 700px) {
    padding-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
  }
}
