.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  width: 100%;
  text-align: center;
}
.input {
  width: 100%;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  background-color: white;
}
.text {
  color: white;
}
