.wrapper {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.student {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 90%;
}
.name {
  width: 30%;
}

.date,
.place {
  width: 15%;
  word-wrap: break-word;
}
.group {
  width: 15%;
  word-wrap: break-word;
}
.button {
  width: 5%;
  word-wrap: break-word;
}
@media (max-width: 600px) {
  .select {
    width: 30%;
  }
  .find {
    width: 60%;
  }
  .student {
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .date,
  .group,
  .place {
    font-size: 14px;
    width: 32%;
  }
  .name {
    width: 100%;
  }

  .button {
    width: 100%;
    order: 2;
  }
}
