.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  color: black;
  background-color: white;

  & > span {
    max-width: 80%;
    text-align: center;
  }
}
