.container {
  width: 100vw;
  padding-top: 70px;
  text-align: center;
  background: var(--bg-pink-white);
  padding-bottom: 20px;

  @media (max-width: 700px) {
    padding-bottom: 0px;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.title {
  font-size: 40px;
  color: #b91125;
}
