.wrapper {
  width: 100%;
  padding: 40px 0;
  background: var(--bg-white-pink);

  & > div > p {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 0.8fr);
  justify-content: center;
  gap: 40px;
  margin-top: 48px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background: #fff;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  transition: transform 0.4s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-6px);

    .imageWrapper {
      height: 680px;
    }

    .overlay {
      max-height: 75%;
      padding: 24px;
    }
  }
}

.imageWrapper {
  position: relative;
  height: 540px;
  transition: height 0.5s ease;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: linear-gradient(
    to top,
    rgba(230, 57, 70, 0.95),
    rgba(230, 57, 70, 0.75)
  );

  color: #fff;
  padding: 16px 20px;

  max-height: 38%;
  overflow: hidden;

  transition:
    max-height 0.5s ease,
    padding 0.5s ease;

  p {
    font-size: 14px;
    line-height: 1.4;
  }
}

.cardContent {
  padding: 24px;

  h3 {
    font-size: 22px;
    margin-bottom: 6px;
    color: #000;
  }
}

.age {
  font-size: 14px;
  color: #777;
}
